<h2>แก้ไขโปรไฟล์</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :full_name, required: true, label: 'ชื่อ-นามสกุล', autofocus: true  %>
    <%= f.input :email, required: true, label: 'อีเมล์' %>
    <%= f.input :postal_code, required: true, label: 'รหัสไปรษณีย์' %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password, autocomplete: "off", label: 'พาสเวิร์ด', hint: "เว้นว่างไว้หากไม่ต้องการเปลี่ยน", required: false %>
    <%= f.input :password_confirmation, label: 'ยืนยันพาสเวิร์ด', required: false %>
    <%= f.input :current_password, label: 'พาสเวิร์ดปัจจุบัน', hint: "ใส่พาสเวิร์ดเพื่อแก้ไขโปรไฟล์", required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "ปรับปรุง" %>
  </div>
<% end %>

<h3>ยกเลิก</h3>

<p>ต้องการยกเลิกแอคเคาท์? <%= link_to "ลบแอคเคาท์", registration_path(resource_name), data: { confirm: "ยืนยันการลบแอคเคาท์" }, method: :delete %></p>

<%= link_to "กลับไป", :back %>
