<!--[if (gte mso 9)|(IE)]>
<table width="600" align="center">
<tr>
<td>
<![endif]-->

<table class="outer" align="center">
		<tr>
			<td class="inner contents" align="center">
				<p class="h2"><%= @event.title %></p>
				<p>จังหวัด <%= @event.location.province %></p>
				<p>ละติจูด: <%= @event.latitude %> ลองจิจูด: <%= @event.longitude %></p>
			</td>
		</tr>
	<tr>
		<td class="full-width-image">
			<a href="https://www.google.co.th/maps/@<%= @event.latitude %>,<%= @event.longitude %>,15z">
				<img src="http://maps.googleapis.com/maps/api/staticmap?center=<%= @event.latitude %>,<%= @event.longitude %>&zoom=12&scale=false&size=560x315&maptype=roadmap&format=png&visual_refresh=true&markers=icon:https://cloud.githubusercontent.com/assets/403010/19218881/7f6d02f2-8e2f-11e6-8e46-15a64bd84428.png%7Cshadow:true%7C<%= @event.latitude %>,<%= @event.longitude %>" width="600" alt="Google map" />
			</a>
		</td>
	</tr>
	<tr>
		<td class="one-column">
			<table width="100%">
				<tr>
					<td class="inner" align="center">
						<p>
							<% if @event.description.present? %>
								<%= @event.description %>
							<% else %>
								รายงานจาก <%= @event.source_name %> พบเหตุ <%= t("categories.#{@event.category}") %>
								<br />
								เกิดขึ้นเมื่อ <%=l @event.start_at.in_time_zone('Bangkok'), format: :short_date_time %> ตามเวลาในประเทศไทย
							<% end %>
						</p>
						<p class="title">
							<a href="http://www.safetyalert.me/events/<%= @event.id %>">ตรวจสอบแหล่งข้อมูล</a>
						</p>
					</td>
				</tr>
			</table>
		</td>
	</tr>

	<% if @hospital.present? %>
		<tr>
			<td class="two-column">
				<!--[if (gte mso 9)|(IE)]>
				<tr>
				<td width="50%" valign="top">
				<![endif]-->
				<div class="column">
					<table width="100%">
						<tr>
							<td class="inner">
								<table class="contents">
									<tr>
										<td class="text-center">
											<img src="https://cloud.githubusercontent.com/assets/403010/23934999/cd6d9e04-097b-11e7-8391-19531ae54055.png" height="100" alt="" />
										</td>
									</tr>
									<tr>
										<td class="text">
											<p class="h2 text-center">โรงพยาบาลใกล้เคียง</p>
											<ul>
												<li>รพ: <a href="http://www.google.com/search?q=<%= @hospital.name %>"><%= @hospital.name %></a></li>
												<li>โทร: <a href="tel:<%= @hospital.tel %>"><%= @hospital.tel %></a></li>
												<li>ที่อยู่: <a href="http://maps.google.com/?q=<%= @hospital.address %>"><%= @hospital.address %></a></li>
											</ul>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</div>
				<!--[if (gte mso 9)|(IE)]>
				</td><td width="50%" valign="top">
				<![endif]-->
				<div class="column">
					<table width="100%">
						<tr>
							<td class="inner">
								<table class="contents">
									<tr>
										<td class="text-center">
											<img src="https://cloud.githubusercontent.com/assets/403010/23934998/cd6d1452-097b-11e7-9681-9f18d8904dc0.png" height="100" alt="" />
										</td>
									</tr>
									<tr>
										<td class="text">
											<p class="h2 text-center">ขอความช่วยเหลือใกล้เคียง</p>
											<!-- TODO: Emergency contact organization nearly -->
											<ul>
												<li>แจ้งเหตุด่วนเหตุร้าย: <a href="tel:191">191</a></li>
												<li>แจ้งเพลิงไหม้: <a href="tel:199">199</a></li>
												<li>เหตุด่วนน้ำท่วม: <a href="tel:1199">1199</a></li>
												<li>แพทย์ฉุกเฉิน: <a href="tel:1669">1669</a></li>
												<li>ร่วมด้วยช่วยกัน: <a href="tel:1677">1677</a></li>
											</ul>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</div>
				<!--[if (gte mso 9)|(IE)]>
				</td>
				</tr>
				</table>
				<![endif]-->
			</td>
		</tr>
	<% end %>

	<tr>
		<td align="center">
			<p class="h2 title">การเตรียมพร้อม</p>
		</td>
	</tr>
	<tr>
		<td class="left-sidebar">
			<!--[if (gte mso 9)|(IE)]>
			<table width="100%">
			<tr>
			<td width="100">
			<![endif]-->
			<div class="column left">
				<table width="100%">
					<tr>
						<td class="inner">
							<img src="https://cloud.githubusercontent.com/assets/403010/23934544/abe3ccde-0978-11e7-91be-4164605e52c1.png" width="48" alt="" />
						</td>
					</tr>
				</table>
			</div>
			<!--[if (gte mso 9)|(IE)]>
			</td><td width="500">
			<![endif]-->
			<div class="column right">
				<table width="100%">
					<tr>
						<td class="inner contents">
							<p class="h2">ก่อนน้ำท่วม</p>
							<ul>
								<li>สมัครและรอรับรับข่าวเตือนภัยจากเรา</li>
								<li>ดูข้อมูลน้ำท่วมในเขตของคุณ ที่นี่</li>
								<li>ปิดน้ำ, ไฟฟ้า และ แก๊ส ภายในบ้าน</li>
							</ul>
						</td>
					</tr>
				</table>
			</div>
			<!--[if (gte mso 9)|(IE)]>
			</td>
			</tr>
			</table>
			<![endif]-->
		</td>
	</tr>
	<tr>
		<td class="left-sidebar">
			<!--[if (gte mso 9)|(IE)]>
			<table width="100%">
			<tr>
			<td width="100">
			<![endif]-->
			<div class="column left">
				<table width="100%">
					<tr>
						<td class="inner">
							<img src="https://cloud.githubusercontent.com/assets/403010/23934546/abe84822-0978-11e7-8a93-a0303b5e0029.png" width="48" alt="" />
						</td>
					</tr>
				</table>
			</div>
			<!--[if (gte mso 9)|(IE)]>
			</td><td width="500">
			<![endif]-->
			<div class="column right">
				<table width="100%">
					<tr>
						<td class="inner contents">
							<p class="h2">ขณะน้ำท่วม</p>
							<ul>
								<li>โทรขอความช่วยเหลือไปยัง 1111 กด 5</li>
								<li>ดหลีกเลี่ยงการเดินทางในจุดน้ำท่วม</li>
								<li>ให้ความช่วยเหลือ หรือขอความช่วยเหลือจากเพื่อนบ้าน</li>
							</ul>
						</td>
					</tr>
				</table>
			</div>
			<!--[if (gte mso 9)|(IE)]>
			</td>
			</tr>
			</table>
			<![endif]-->
		</td>
	</tr>
	<tr>
		<td class="left-sidebar">
			<!--[if (gte mso 9)|(IE)]>
			<table width="100%">
			<tr>
			<td width="100">
			<![endif]-->
			<div class="column left">
				<table width="100%">
					<tr>
						<td class="inner">
							<img src="https://cloud.githubusercontent.com/assets/403010/23934545/abe6ea4a-0978-11e7-94f6-5b490dc62cd1.png" width="48" alt="" />
						</td>
					</tr>
				</table>
			</div>
			<!--[if (gte mso 9)|(IE)]>
			</td><td width="500">
			<![endif]-->
			<div class="column right">
				<table width="100%">
					<tr>
						<td class="inner contents">
							<p class="h2">หลังน้ำท่วม</p>
							<ul>
								<li>เลี่ยงการใช้แก๊ส, ไฟฟ้า ก่อนตรวจสอบจากช่าง</li>
								<li>เลี่ยงอาหารที่สัมผัสน้ำท่วม</li>
								<li>โทรสอบถามการประปา ก่อนการใช้น้ำ</li>
							</ul>
						</td>
					</tr>
				</table>
			</div>
			<!--[if (gte mso 9)|(IE)]>
			</td>
			</tr>
			</table>
			<![endif]-->
		</td>
	</tr>
	<tr>
		<td align="center">
			<p class="title"><a href="http://www.safetyalert.me/events/<%= @event.id %>">อ่านต่อทั้งหมด</a></p>
		</td>
	</tr>
</table>
<!--[if (gte mso 9)|(IE)]>
</td>
</tr>
</table>
<![endif]-->
