<tr>
  <td><%= link_to event.title, "https://www.google.co.th/maps/@#{event.latitude},#{event.longitude},15z" %></td>
  <td><%= t("categories.#{event.category}") %></td>
  <td><%= event.latitude %></td>
  <td><%= event.longitude %></td>
  <td><%= event.source_name %></td>
  <td><%= "#{event.location.district}, #{event.location.province}" %></td>
  <td><%= event.start_at.strftime("%-d/%-m/%y: %H:%M") %></td>
</tr>
