<tr>
  <td><%= link_to event.title, event_path(event) %></td>
  <td><%= t("categories.#{event.category}") %></td>
  <td><%= event.latitude %></td>
  <td><%= event.longitude %></td>
  <td><%= external_link_to event.source_name, truncate_url(event.source_url) %></td>
  <td><%= "#{event.location.district}, #{event.location.province}" %></td>
  <td><%= event.start_at.strftime("%-d/%-m/%y: %H:%M") %></td>
</tr>
