<% provide :title, "ข้อมูลเตือนภัย" %>

<div class="container">
  <h1>ข้อมูลเตือนภัย</h1>
  <br />
  <div class="dropdown category-select pull-left">
    <button type="button" class="btn btn-default btn-right dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      ประเภท <span class="caret"></span>
    </button>

    <ul id="sidebar_container" class="dropdown-menu">
      <% @event_categories.each do |category| %>
      <li><%= link_to t("categories.#{category}"), "/events/category/#{category}" %></li>
      <% end %>
      <li role="separator" class="divider"></li>
      <li><%= link_to "ทั้งหมด", events_path %></li>
    </ul>
  </div>

  <div class="dropdown category-select pull-left">
    <button type="button" class="btn btn-default btn-right dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      จังหวัด <span class="caret"></span>
    </button>
    <ul id="sidebar_container" class="dropdown-menu">
      <% @event_provinces.each do |province| %>
      <li><%= link_to t("locations.#{province}"), "/events/location/#{province}" %></li>
      <% end %>
      <li role="separator" class="divider"></li>
      <li><%= link_to "ทั้งหมด", events_path %></li>
    </ul>
  </div>

  <br /><br />
  <hr/>
  <% if @events.present? %>
    <div class="table-responsive">
      <table class="table table-condensed table-striped table-hover">
        <thead>
          <tr>
            <th>ชื่อเหตุการณ์</th>
            <th>ประเภท</th>
            <th>ละติจูด</th>
            <th>ลองติจูด</th>
            <th>แหล่งข้อมูล</th>
            <th>ตำแหน่ง</th>
            <th>วัน-เวลา</th>
          </tr>
        </thead>
        <tbody>
          <%= render :partial => "event", :collection => @events %>
        </tbody>
      </table>
    </div>
    <%= paginate @events %>
  <% else %>
    ไม่มีข้อมูลเตือนภัยใน 7 วันที่ผ่านมา
  <% end %>
</div>
