<% provide :title, @event.title %>

<h1><%= @event.title %></h1>
<div class="row">
  <div class="col-lg-12">
    <p><%= date_format(@event.start_at) %></p>
    <p>แหล่งข้อมูลอ้างอิง: <%= external_link_to truncate_url(@event.source_url), truncate_url(@event.source_url) %></p>
    <div id="event-map"></div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-9 warning-preparation">
      <h3><strong>เตรียมตัวรับมือภัยพิบัติเบื้องต้น</strong></h3>
      <% if @event.category == "flood" || @event.category == "rainfall" %>
        <%= render partial: "events/flood_preparation" %>
      <% elsif @event.category == "earthquake" %>
        <%= render partial: "events/earthquake_preparation" %>
      <% else %>
        <%= render partial: "events/default_preparation" %>
      <% end %>
    </div>
    <div class="col-md-3 emergency-contact">
      <h3><strong>ขอความช่วยเหลือ พื้นที่ใกล้เคียง</h3></strong>
      <% if @hospitals_nearby.present? %>
        <% @hospitals_nearby.each do |hospital| %>
          <div class="contact-card">
            <div class="card-block">
              <p class="icon"><%= icon('hospital-o') %></p>
              <p class="text">
                <%= external_link_to(hospital.name, "http://www.google.com/search?q=#{hospital.name}") %>
              </p>
            </div>
            <div class="card-block">
              <p class="icon"><%= icon('phone') %></p>
              <p class="text">
                <%= external_link_to(hospital.tel, "tel:#{hospital.tel}") %>
              </p>
            </div>
            <div class="card-block">
              <p class="icon"><%= icon('map-marker') %></p>
              <p class="text">
                <%= external_link_to(hospital.address, "http://maps.google.com/?q=#{hospital.address}") %>
              </p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: { maxZoom: 15 }, internal: {id: 'event-map'}}, function(){
  markers = handler.addMarkers([
    {
      "lat": "<%= @event.latitude %>",
      "lng": "<%= @event.longitude %>",
      "picture": {
        "url": "<%= image_path("#{@event.category}.png") %>",
        "width":  32,
        "height": 37
      },
      "infowindow": "<%= @event.title %>"
    }
  ]);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
  google.maps.event.trigger(markers[0].getServiceObject(), 'click');
  });
</script>
