<h1><%= @event.title %></h1>
<div class="row">
  <div class="col-lg-12">
    <p><%= @event.start_at.strftime("วันที่: %-d/%-m/%y เวลา %H:%M") %></p>
    <p>แหล่งข้อมูลอ้างอิง: <%= link_to truncate_url(@event.source_url), truncate_url(@event.source_url), target: "_blank" %></p>
    <div id="event-map"></div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-9 warning-preparation">
      <h3><strong>เตรียมตัวรับมือภัยพิบัติเบื้องต้น</strong></h3>
      <% if @event.category == "flood" || @event.category == "rainfall" %>
        <%= render partial: "events/flood_preparation" %>
      <% elsif @event.category == "earthquake" %>
        <%= render partial: "events/earthquake_preparation" %>
      <% else %>
        <%= render partial: "events/default_preparation" %>
      <% end %>
    </div>
    <div class="col-md-3 warning-emergency-contact">
      <h3><strong>ขอความช่วยเหลือพื้นที่ใกล้เคียง</h3></strong>
      <div class="contact-card">
        <p><%= icon('hospital-o') %> ร.พ. กรุงเทพคริสเตียน</p>
        <p>
          <%= icon('phone') %>
          <a href="tel:022336981" target="_blank">
             02-233-6981 ถึง 9
          </a>
         </p>
        <p>
          <%= icon('map-marker') %>
          <a href="http://maps.google.com/?q=124 สีลม สุริยวงศ์ บางรัก กรุงเทพมหานคร 10500" target="_blank">
             124 สีลม สุริยวงศ์ บางรัก กรุงเทพมหานคร 10500
          </a>
        </p>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'event-map'}}, function(){
  markers = handler.addMarkers([
    {
      "lat": "<%= @event.latitude %>",
      "lng": "<%= @event.longitude %>",
      "picture": {
        "url": "<%= image_path("#{@event.category}.png") %>",
        "width":  32,
        "height": 37
      },
      "infowindow": "<%= @event.title %>"
    }
  ]);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
  google.maps.event.trigger(markers[0].getServiceObject(), 'click');
  });
</script>
