<% provide :title, "ทำงานอย่างไร" %>

<div class="row" id="how-it-work">
  <div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-9 col-lg-offset-2">
    <h1 class="title">EDM Alert ทำงานอย่างไร?</h1>
    <div class="col-xs-12 section">
      <div class="col-md-6 explain-icon">
        <%= icon('cubes') %>
      </div>
      <div class="col-md-6">
        <h2>รวบรวมข้อมูลเตือนภัย</h2>
        <p class="lead">
          รวบรวมข้อมูลเตือนภัยพิบัติ ประเภทต่างๆ จากเว็บไซต์ภาครัฐที่เชื่อถือได้
        </p>
        <p class="lead">
          ปัจจุบันใช้ข้อมูลจากแหล่งต่อไปนี้
        </p>
        <ul>
          <li class="lead"><%= external_link_to "กรมอุตุนิยมวิทยาและแผ่นดินไหว", "http://data.tmd.go.th/api/index1.php" %></li>
          <li class="lead"><%= external_link_to "สำนักการระบายน้ำ กรุงเทพมหานคร", "http://203.155.220.119/DDS_Flooding" %></li>
          <li class="lead"><%= external_link_to "คลังข้อมูลน้ำ และภูมิอากาศแห่งชาติ", "http://www.thaiwater.net" %></li>
        </ul>
      </div>
    </div>
    <div class="col-xs-12 section">
      <div class="col-md-6">
        <h2>เก็บรวมข้อมูลเป็นมาตรฐาน</h2>
        <p class="lead">
          เก็บรวมข้อมูลให้เป็นมาตรฐาน ให้ผู้รับข่าวเข้าใจง่าย รวมถึงเปิดข้อมูลให้กับนักพัฒนาภายนอกนำไปต่อยอด
        </p>
        <ul>
          <li class="lead"><%= external_link_to "วิธีการใช้งานข้อมูลผ่าน EDM Alert API", "http://docs.edmalert.apiary.io" %></li>

          <li class="lead"><%= external_link_to "EDM Alert โอเพนซอร์สทั้งระบบ นำไปพัฒนาต่อยอดได้", "https://github.com/wulab/edm-alert" %></li>
        </ul>
      </div>
      <div class="col-md-6 explain-icon">
        <%= icon('cube') %>
      </div>
    </div>
    <div class="col-xs-12 section">
      <div class="col-md-6 explain-icon">
        <%= icon('bullhorn') %>
      </div>
      <div class="col-md-6">
        <h2>เตือนภัยเมื่อเกิดเหตุ</h2>
        <p class="lead">
          ส่งข้อมูลเตือนภัยในพื้นที่ที่ใกล้กับผู้ใช้ ทันทีที่ภาครัฐแจ้งเตือนภัยพิบัติ
        </p>
        <ul>
          <li class="lead"><%= link_to "สมัครรับข้อมูลเตือนภัย", new_user_registration_path %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
